<form (ngSubmit)="getCharacter()">
  <h4>Agregar personaje</h4>
  <input
    class="form-control form-control-sm mb-2"
    type="text"
    placeholder="Nombre"
    [(ngModel)]="characterToAdd.name"
    name="name"
    >
    <!-- value="{{characterToDefault.name}}" -->

  <input
    class="form-control form-control-sm mb-2"
    type="number"
    placeholder="Poder"
    [(ngModel)]="characterToAdd.power"
    name="power"
    >
     <!-- value="{{characterToDefault.power}}"> -->

  <button type="submit" class="btn btn-sm btn-success mb-2">Agregar</button>

  <!-- <pre>{{characterToAdd | json}}</pre> -->
</form>
